appserver-addins/NativeTypes/CiscoIPPhoneXml/CiscoIpPhoneServices.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- edited with Notepad v4.0 by Darrick Deel (Cisco Systems, Inc.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:complexType name="CiscoIPPhoneExecuteItemType">
        <xsd:attribute name="Priority" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="xsd:unsignedShort">
                    <xsd:minInclusive value="0" />
                    <xsd:maxInclusive value="3" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="URL" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0" />
                    <xsd:maxLength value="256" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="CiscoIPPhoneExecuteType">
        <xsd:sequence>
            <xsd:element name="ExecuteItem" type="CiscoIPPhoneExecuteItemType" maxOccurs="3" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CiscoIPPhoneResponseItemType">
        <xsd:attribute name="Status" type="xsd:short" use="required" />
        <xsd:attribute name="Data" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0" />
                    <xsd:maxLength value="32" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="URL">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0" />
                    <xsd:maxLength value="256" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="CiscoIPPhoneErrorType">
        <xsd:attribute name="Number" type="xsd:short" use="required" />
    </xsd:complexType>
    <xsd:complexType name="CiscoIPPhoneResponseType">
        <xsd:sequence>
            <xsd:element name="ResponseItem" type="CiscoIPPhoneResponseItemType" maxOccurs="3" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CiscoIPPhoneTextType">
        <xsd:sequence>
            <xsd:element name="Title" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Prompt" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Text" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4000" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SoftKeyItem" type="CiscoIPPhoneSoftKeyType" minOccurs="0" maxOccurs="8" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CiscoIPPhoneInputItemType">
        <xsd:sequence>
            <xsd:element name="DisplayName" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="32" />
                        <xsd:minLength value="0" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="QueryStringParam" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="InputFlags" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DefaultValue" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CiscoIPPhoneInputType">
        <xsd:sequence>
            <xsd:element name="Title" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Prompt" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="URL" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="256" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="InputItem" type="CiscoIPPhoneInputItemType" minOccurs="0" maxOccurs="5" />
            <xsd:element name="SoftKeyItem" type="CiscoIPPhoneSoftKeyType" minOccurs="0" maxOccurs="8" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CiscoIPPhoneGraphicMenuType">
        <xsd:sequence>
            <xsd:element name="Title" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Prompt" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="LocationX">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="-1" />
                        <xsd:maxInclusive value="133" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="LocationY">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="-1" />
                        <xsd:maxInclusive value="65" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Width" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort">
                        <xsd:minInclusive value="1" />
                        <xsd:maxInclusive value="133" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Height" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort">
                        <xsd:minInclusive value="1" />
                        <xsd:maxInclusive value="65" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Depth" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort">
                        <xsd:minInclusive value="1" />
                        <xsd:maxInclusive value="2" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Data" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1" />
                        <xsd:maxLength value="2200" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MenuItem" type="CiscoIPPhoneMenuItemType" minOccurs="0" maxOccurs="12" />
            <xsd:element name="SoftKeyItem" type="CiscoIPPhoneSoftKeyType" minOccurs="0" maxOccurs="8" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CiscoIPPhoneDirectoryEntryType">
        <xsd:sequence>
            <xsd:element name="Name" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Telephone" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CiscoIPPhoneDirectoryType">
        <xsd:sequence>
            <xsd:element name="Title" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Prompt" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DirectoryEntry" type="CiscoIPPhoneDirectoryEntryType" minOccurs="0" maxOccurs="32" />
            <xsd:element name="SoftKeyItem" type="CiscoIPPhoneSoftKeyType" minOccurs="0" maxOccurs="8" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CiscoIPPhoneMenuItemType">
        <xsd:sequence>
            <xsd:element name="IconIndex" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort">
                        <xsd:minInclusive value="0" />
                        <xsd:maxInclusive value="9" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Name" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="64" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="URL" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="256" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TouchArea" type="CiscoIPPhoneTouchAreaType" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CiscoIPPhoneIconItemType">
        <xsd:sequence>
            <xsd:element name="Index" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort">
                        <xsd:minInclusive value="0" />
                        <xsd:maxInclusive value="9" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Width" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort">
                        <xsd:minInclusive value="1" />
                        <xsd:maxInclusive value="16" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Height" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort">
                        <xsd:minInclusive value="1" />
                        <xsd:maxInclusive value="10" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Depth" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort">
                        <xsd:minInclusive value="1" />
                        <xsd:maxInclusive value="2" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Data" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50" />
                        <xsd:minLength value="1" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CiscoIPPhoneSoftKeyType">
        <xsd:sequence>
            <xsd:element name="Name" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="URL" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="256" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Position" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort">
                        <xsd:minInclusive value="1" />
                        <xsd:maxInclusive value="8" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CiscoIPPhoneMenuType">
        <xsd:sequence>
            <xsd:element name="Title" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Prompt" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MenuItem" type="CiscoIPPhoneMenuItemType" minOccurs="0" maxOccurs="100" />
            <xsd:element name="SoftKeyItem" type="CiscoIPPhoneSoftKeyType" minOccurs="0" maxOccurs="8" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CiscoIPPhoneImageType">
        <xsd:sequence>
            <xsd:element name="Title" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Prompt" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="LocationX">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="-1" />
                        <xsd:maxInclusive value="133" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="LocationY">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="-1" />
                        <xsd:maxInclusive value="65" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Width" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort">
                        <xsd:minInclusive value="1" />
                        <xsd:maxInclusive value="133" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Height" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort">
                        <xsd:minInclusive value="1" />
                        <xsd:maxInclusive value="65" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Depth" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort">
                        <xsd:minInclusive value="1" />
                        <xsd:maxInclusive value="2" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Data" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1" />
                        <xsd:maxLength value="2200" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SoftKeyItem" type="CiscoIPPhoneSoftKeyType" minOccurs="0" maxOccurs="8" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CiscoIPPhoneStatusType">
        <xsd:sequence>
            <xsd:element name="Text" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Timer" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="0" />
                        <xsd:maxInclusive value="5939" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="LocationX">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="-1" />
                        <xsd:maxInclusive value="106" />
                    </xsd:restriction> 
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="LocationY">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="-1" />
                        <xsd:maxInclusive value="21" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Width" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort">
                        <xsd:minInclusive value="1" />
                        <xsd:maxInclusive value="106" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Height" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort">
                        <xsd:minInclusive value="1" />
                        <xsd:maxInclusive value="21" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Depth" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedShort">
                        <xsd:minInclusive value="1" />
                        <xsd:maxInclusive value="2" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Data" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1" />
                        <xsd:maxLength value="2200" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CiscoIPPhoneIconMenuType">
        <xsd:sequence>
            <xsd:element name="Title" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Prompt" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MenuItem" type="CiscoIPPhoneMenuItemType" minOccurs="0" maxOccurs="100" />
            <xsd:element name="IconItem" type="CiscoIPPhoneIconItemType" minOccurs="0" maxOccurs="10" />
            <xsd:element name="SoftKeyItem" type="CiscoIPPhoneSoftKeyType" minOccurs="0" maxOccurs="8" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CiscoIPPhoneImageFileType">
        <xsd:sequence>
            <xsd:element name="Title" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Prompt" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="LocationX">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="-1" />
                        <xsd:maxInclusive value="198" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="LocationY">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="-1" />
                        <xsd:maxInclusive value="168" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="URL" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="256" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SoftKeyItem" type="CiscoIPPhoneSoftKeyType" minOccurs="0" maxOccurs="8" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CiscoIPPhoneGraphicFileMenuType">
        <xsd:sequence>
            <xsd:element name="Title" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Prompt" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="URL" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="256" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="LocationX">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="-1" />
                        <xsd:maxInclusive value="198" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="LocationY">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="-1" />
                        <xsd:maxInclusive value="168" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MenuItem" type="CiscoIPPhoneMenuItemType" minOccurs="0" maxOccurs="12" />
            <xsd:element name="SoftKeyItem" type="CiscoIPPhoneSoftKeyType" minOccurs="0" maxOccurs="8" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CiscoIPPhoneStatusFileType">
        <xsd:sequence>
            <xsd:element name="Text" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="32" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Timer" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="0" />
                        <xsd:maxInclusive value="5939" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="LocationX">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="-1" />
                        <xsd:maxInclusive value="106" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="LocationY">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="-1" />
                        <xsd:maxInclusive value="21" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="URL" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0" />
                        <xsd:maxLength value="256" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CiscoIPPhoneTouchAreaType">
        <xsd:attribute name="X1" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:short">
                    <xsd:minInclusive value="-1" />
                    <xsd:maxInclusive value="198" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Y1" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:short">
                    <xsd:minInclusive value="-1" />
                    <xsd:maxInclusive value="198" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="X2" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:short">
                    <xsd:minInclusive value="-1" />
                    <xsd:maxInclusive value="168" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Y2" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:short">
                    <xsd:minInclusive value="-1" />
                    <xsd:maxInclusive value="168" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="CiscoIPPhoneMenu" type="CiscoIPPhoneMenuType" />
    <xsd:element name="CiscoIPPhoneImage" type="CiscoIPPhoneImageType" />
    <xsd:element name="CiscoIPPhoneStatus" type="CiscoIPPhoneStatusType" />
    <xsd:element name="CiscoIPPhoneIconMenu" type="CiscoIPPhoneIconMenuType" />
    <xsd:element name="CiscoIPPhoneDirectory" type="CiscoIPPhoneDirectoryType" />
    <xsd:element name="CiscoIPPhoneGraphicMenu" type="CiscoIPPhoneGraphicMenuType" />
    <xsd:element name="CiscoIPPhoneInput" type="CiscoIPPhoneInputType" />
    <xsd:element name="CiscoIPPhoneText" type="CiscoIPPhoneTextType" />
    <xsd:element name="CiscoIPPhoneExecute" type="CiscoIPPhoneExecuteType" />
    <xsd:element name="CiscoIPPhoneError" type="CiscoIPPhoneErrorType" />
    <xsd:element name="CiscoIPPhoneResponse" type="CiscoIPPhoneResponseType" />
    <xsd:element name="CiscoIPPhoneImageFile" type="CiscoIPPhoneImageFileType" />
    <xsd:element name="CiscoIPPhoneStatusFile" type="CiscoIPPhoneStatusFileType" />
    <xsd:element name="CiscoIPPhoneGraphicFileMenu" type="CiscoIPPhoneGraphicFileMenuType" />
</xsd:schema>