archive-sdk/VocalPassword/PasswordReset/wsdl/VocalPasswordServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.Persay.com/webservices/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.Persay.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.Persay.com/webservices/">
      <s:element name="Enroll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="speakerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="speakerSubId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="audio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="configSetName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="enrollAttributes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnrollResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnrollResult" type="tns:EnrollStatus" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="EnrollStatus">
        <s:restriction base="s:string">
          <s:enumeration value="NotReady" />
          <s:enumeration value="Ready" />
          <s:enumeration value="Trained" />
          <s:enumeration value="TrainFailed" />
          <s:enumeration value="Full" />
        </s:restriction>
      </s:simpleType>
      <s:element name="Train">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="speakerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="speakerSubId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="configSetName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TrainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Verify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="speakerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="speakerSubId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="audio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="configSetName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyResult" type="tns:Result" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SpeakerId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SpeakerSubId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Decision" type="tns:Decision" />
          <s:element minOccurs="1" maxOccurs="1" name="DecisionReason" type="tns:DecisionReason" />
          <s:element minOccurs="1" maxOccurs="1" name="Score" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RawScore" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Decision">
        <s:restriction base="s:string">
          <s:enumeration value="Match" />
          <s:enumeration value="Mismatch" />
          <s:enumeration value="Inconclusive" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="DecisionReason">
        <s:restriction base="s:string">
          <s:enumeration value="VoiceprintMatch" />
          <s:enumeration value="VoiceprintMismatch" />
          <s:enumeration value="VoiceprintInconclusive" />
          <s:enumeration value="VoiceprintPartialMatch" />
          <s:enumeration value="AudioTooShort" />
          <s:enumeration value="AudioTooLong" />
          <s:enumeration value="WrongPassphrase" />
          <s:enumeration value="PlaybackIndication" />
          <s:enumeration value="InternalError" />
        </s:restriction>
      </s:simpleType>
      <s:element name="VerifyEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="speakerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="speakerSubId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="audio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="configSetName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="previousRequestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyExResult" type="tns:Result" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IdentifySpeakers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="speakersIds" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="speakerSubId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="audio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="configSetName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="IdentifySpeakersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdentifySpeakersResult" type="tns:ArrayOfResult" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Result" nillable="true" type="tns:Result" />
        </s:sequence>
      </s:complexType>
      <s:element name="IdentifySpeakersAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="speakersIds" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="audio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="configSetName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IdentifySpeakersAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdentifySpeakersAllResult" type="tns:ArrayOfResult" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IdentifyGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="speakerSubId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="audio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="configSetName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IdentifyGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdentifyGroupResult" type="tns:ArrayOfResult" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IdentifyGroupAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="audio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="configSetName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IdentifyGroupAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdentifyGroupAllResult" type="tns:ArrayOfResult" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsReadyToTrain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="speakerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="speakerSubId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="configSetName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsReadyToTrainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsReadyToTrainResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsTrained">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="speakerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="speakerSubId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="configSetName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsTrainedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsTrainedResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteVoiceprint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="speakerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="speakerSubId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="configSetName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteVoiceprintResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteVoiceTemplate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="speakerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="speakerSubId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="configSetName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteVoiceTemplateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEnrollSegments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="speakerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="speakerSubId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="configSetName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEnrollSegmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveEnrollSegment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="speakerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="speakerSubId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="audioSegmentId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="configSetName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveEnrollSegmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEnrollSegmentsStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="speakerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="speakerSubId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="configSetName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEnrollSegmentsStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEnrollSegmentsStatusResult" type="tns:VPEnrollSegmentsStatus" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VPEnrollSegmentsStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MissingSegments" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:EnrollStatus" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetExternalRequestId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="internalRequestId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="externalRequestId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetExternalRequestIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequestId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="externalRequestId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequestIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetRequestIdResult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVerifyDetailedResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="verifyRequestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVerifyDetailedResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVerifyDetailedResultResult" type="tns:DetailedResult" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DetailedResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:Result" />
          <s:element minOccurs="0" maxOccurs="1" name="IntermediateResult" type="tns:ArrayOfIntermediateResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIntermediateResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IntermediateResult" nillable="true" type="tns:IntermediateResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IntermediateResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Score" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RawScore" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetIdentifyDetailedResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="identifyRequestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIdentifyDetailedResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIdentifyDetailedResultResult" type="tns:ArrayOfDetailedResult" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDetailedResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DetailedResult" nillable="true" type="tns:DetailedResult" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetApplicationData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="uniqueId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetApplicationDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="uniqueId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApplicationDataResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetVoiceprintData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="speakerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="speakerSubId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetVoiceprintDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVoiceprintData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="speakerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="speakerSubId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVoiceprintDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVoiceprintDataResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAuthenticity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="verifyRequestId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="authenticity" type="tns:Authentication" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Authentication">
        <s:restriction base="s:string">
          <s:enumeration value="Authentic" />
          <s:enumeration value="Impostor" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SetAuthenticityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnrollSoapIn">
    <wsdl:part name="parameters" element="tns:Enroll" />
  </wsdl:message>
  <wsdl:message name="EnrollSoapOut">
    <wsdl:part name="parameters" element="tns:EnrollResponse" />
  </wsdl:message>
  <wsdl:message name="TrainSoapIn">
    <wsdl:part name="parameters" element="tns:Train" />
  </wsdl:message>
  <wsdl:message name="TrainSoapOut">
    <wsdl:part name="parameters" element="tns:TrainResponse" />
  </wsdl:message>
  <wsdl:message name="VerifySoapIn">
    <wsdl:part name="parameters" element="tns:Verify" />
  </wsdl:message>
  <wsdl:message name="VerifySoapOut">
    <wsdl:part name="parameters" element="tns:VerifyResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyExSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyEx" />
  </wsdl:message>
  <wsdl:message name="VerifyExSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyExResponse" />
  </wsdl:message>
  <wsdl:message name="IdentifySpeakersSoapIn">
    <wsdl:part name="parameters" element="tns:IdentifySpeakers" />
  </wsdl:message>
  <wsdl:message name="IdentifySpeakersSoapOut">
    <wsdl:part name="parameters" element="tns:IdentifySpeakersResponse" />
  </wsdl:message>
  <wsdl:message name="IdentifySpeakersAllSoapIn">
    <wsdl:part name="parameters" element="tns:IdentifySpeakersAll" />
  </wsdl:message>
  <wsdl:message name="IdentifySpeakersAllSoapOut">
    <wsdl:part name="parameters" element="tns:IdentifySpeakersAllResponse" />
  </wsdl:message>
  <wsdl:message name="IdentifyGroupSoapIn">
    <wsdl:part name="parameters" element="tns:IdentifyGroup" />
  </wsdl:message>
  <wsdl:message name="IdentifyGroupSoapOut">
    <wsdl:part name="parameters" element="tns:IdentifyGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IdentifyGroupAllSoapIn">
    <wsdl:part name="parameters" element="tns:IdentifyGroupAll" />
  </wsdl:message>
  <wsdl:message name="IdentifyGroupAllSoapOut">
    <wsdl:part name="parameters" element="tns:IdentifyGroupAllResponse" />
  </wsdl:message>
  <wsdl:message name="IsReadyToTrainSoapIn">
    <wsdl:part name="parameters" element="tns:IsReadyToTrain" />
  </wsdl:message>
  <wsdl:message name="IsReadyToTrainSoapOut">
    <wsdl:part name="parameters" element="tns:IsReadyToTrainResponse" />
  </wsdl:message>
  <wsdl:message name="IsTrainedSoapIn">
    <wsdl:part name="parameters" element="tns:IsTrained" />
  </wsdl:message>
  <wsdl:message name="IsTrainedSoapOut">
    <wsdl:part name="parameters" element="tns:IsTrainedResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteVoiceprintSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteVoiceprint" />
  </wsdl:message>
  <wsdl:message name="DeleteVoiceprintSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteVoiceprintResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteVoiceTemplateSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteVoiceTemplate" />
  </wsdl:message>
  <wsdl:message name="DeleteVoiceTemplateSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteVoiceTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteEnrollSegmentsSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteEnrollSegments" />
  </wsdl:message>
  <wsdl:message name="DeleteEnrollSegmentsSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteEnrollSegmentsResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveEnrollSegmentSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveEnrollSegment" />
  </wsdl:message>
  <wsdl:message name="RemoveEnrollSegmentSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveEnrollSegmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetEnrollSegmentsStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetEnrollSegmentsStatus" />
  </wsdl:message>
  <wsdl:message name="GetEnrollSegmentsStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetEnrollSegmentsStatusResponse" />
  </wsdl:message>
  <wsdl:message name="SetExternalRequestIdSoapIn">
    <wsdl:part name="parameters" element="tns:SetExternalRequestId" />
  </wsdl:message>
  <wsdl:message name="SetExternalRequestIdSoapOut">
    <wsdl:part name="parameters" element="tns:SetExternalRequestIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequestIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequestId" />
  </wsdl:message>
  <wsdl:message name="GetRequestIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequestIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetVerifyDetailedResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetVerifyDetailedResult" />
  </wsdl:message>
  <wsdl:message name="GetVerifyDetailedResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetVerifyDetailedResultResponse" />
  </wsdl:message>
  <wsdl:message name="GetIdentifyDetailedResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetIdentifyDetailedResult" />
  </wsdl:message>
  <wsdl:message name="GetIdentifyDetailedResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetIdentifyDetailedResultResponse" />
  </wsdl:message>
  <wsdl:message name="SetApplicationDataSoapIn">
    <wsdl:part name="parameters" element="tns:SetApplicationData" />
  </wsdl:message>
  <wsdl:message name="SetApplicationDataSoapOut">
    <wsdl:part name="parameters" element="tns:SetApplicationDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetApplicationDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetApplicationData" />
  </wsdl:message>
  <wsdl:message name="GetApplicationDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetApplicationDataResponse" />
  </wsdl:message>
  <wsdl:message name="SetVoiceprintDataSoapIn">
    <wsdl:part name="parameters" element="tns:SetVoiceprintData" />
  </wsdl:message>
  <wsdl:message name="SetVoiceprintDataSoapOut">
    <wsdl:part name="parameters" element="tns:SetVoiceprintDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetVoiceprintDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetVoiceprintData" />
  </wsdl:message>
  <wsdl:message name="GetVoiceprintDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetVoiceprintDataResponse" />
  </wsdl:message>
  <wsdl:message name="SetAuthenticitySoapIn">
    <wsdl:part name="parameters" element="tns:SetAuthenticity" />
  </wsdl:message>
  <wsdl:message name="SetAuthenticitySoapOut">
    <wsdl:part name="parameters" element="tns:SetAuthenticityResponse" />
  </wsdl:message>
  <wsdl:portType name="VocalPasswordServerSoap">
    <wsdl:operation name="Enroll">
      <wsdl:input message="tns:EnrollSoapIn" />
      <wsdl:output message="tns:EnrollSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Train">
      <wsdl:input message="tns:TrainSoapIn" />
      <wsdl:output message="tns:TrainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Verify">
      <wsdl:input message="tns:VerifySoapIn" />
      <wsdl:output message="tns:VerifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyEx">
      <wsdl:input message="tns:VerifyExSoapIn" />
      <wsdl:output message="tns:VerifyExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IdentifySpeakers">
      <wsdl:input message="tns:IdentifySpeakersSoapIn" />
      <wsdl:output message="tns:IdentifySpeakersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IdentifySpeakersAll">
      <wsdl:input message="tns:IdentifySpeakersAllSoapIn" />
      <wsdl:output message="tns:IdentifySpeakersAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IdentifyGroup">
      <wsdl:input message="tns:IdentifyGroupSoapIn" />
      <wsdl:output message="tns:IdentifyGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IdentifyGroupAll">
      <wsdl:input message="tns:IdentifyGroupAllSoapIn" />
      <wsdl:output message="tns:IdentifyGroupAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsReadyToTrain">
      <wsdl:input message="tns:IsReadyToTrainSoapIn" />
      <wsdl:output message="tns:IsReadyToTrainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsTrained">
      <wsdl:input message="tns:IsTrainedSoapIn" />
      <wsdl:output message="tns:IsTrainedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVoiceprint">
      <wsdl:input message="tns:DeleteVoiceprintSoapIn" />
      <wsdl:output message="tns:DeleteVoiceprintSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVoiceTemplate">
      <wsdl:input message="tns:DeleteVoiceTemplateSoapIn" />
      <wsdl:output message="tns:DeleteVoiceTemplateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEnrollSegments">
      <wsdl:input message="tns:DeleteEnrollSegmentsSoapIn" />
      <wsdl:output message="tns:DeleteEnrollSegmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveEnrollSegment">
      <wsdl:input message="tns:RemoveEnrollSegmentSoapIn" />
      <wsdl:output message="tns:RemoveEnrollSegmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEnrollSegmentsStatus">
      <wsdl:input message="tns:GetEnrollSegmentsStatusSoapIn" />
      <wsdl:output message="tns:GetEnrollSegmentsStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetExternalRequestId">
      <wsdl:input message="tns:SetExternalRequestIdSoapIn" />
      <wsdl:output message="tns:SetExternalRequestIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestId">
      <wsdl:input message="tns:GetRequestIdSoapIn" />
      <wsdl:output message="tns:GetRequestIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVerifyDetailedResult">
      <wsdl:input message="tns:GetVerifyDetailedResultSoapIn" />
      <wsdl:output message="tns:GetVerifyDetailedResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIdentifyDetailedResult">
      <wsdl:input message="tns:GetIdentifyDetailedResultSoapIn" />
      <wsdl:output message="tns:GetIdentifyDetailedResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetApplicationData">
      <wsdl:input message="tns:SetApplicationDataSoapIn" />
      <wsdl:output message="tns:SetApplicationDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationData">
      <wsdl:input message="tns:GetApplicationDataSoapIn" />
      <wsdl:output message="tns:GetApplicationDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetVoiceprintData">
      <wsdl:input message="tns:SetVoiceprintDataSoapIn" />
      <wsdl:output message="tns:SetVoiceprintDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVoiceprintData">
      <wsdl:input message="tns:GetVoiceprintDataSoapIn" />
      <wsdl:output message="tns:GetVoiceprintDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAuthenticity">
      <wsdl:input message="tns:SetAuthenticitySoapIn" />
      <wsdl:output message="tns:SetAuthenticitySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VocalPasswordServerSoap" type="tns:VocalPasswordServerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="Enroll">
      <soap:operation soapAction="http://www.Persay.com/webservices/Enroll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Train">
      <soap:operation soapAction="http://www.Persay.com/webservices/Train" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify">
      <soap:operation soapAction="http://www.Persay.com/webservices/Verify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyEx">
      <soap:operation soapAction="http://www.Persay.com/webservices/VerifyEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdentifySpeakers">
      <soap:operation soapAction="http://www.Persay.com/webservices/IdentifySpeakers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdentifySpeakersAll">
      <soap:operation soapAction="http://www.Persay.com/webservices/IdentifySpeakersAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdentifyGroup">
      <soap:operation soapAction="http://www.Persay.com/webservices/IdentifyGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdentifyGroupAll">
      <soap:operation soapAction="http://www.Persay.com/webservices/IdentifyGroupAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsReadyToTrain">
      <soap:operation soapAction="http://www.Persay.com/webservices/IsReadyToTrain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsTrained">
      <soap:operation soapAction="http://www.Persay.com/webservices/IsTrained" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVoiceprint">
      <soap:operation soapAction="http://www.Persay.com/webservices/DeleteVoiceprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVoiceTemplate">
      <soap:operation soapAction="http://www.Persay.com/webservices/DeleteVoiceTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEnrollSegments">
      <soap:operation soapAction="http://www.Persay.com/webservices/DeleteEnrollSegments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveEnrollSegment">
      <soap:operation soapAction="http://www.Persay.com/webservices/RemoveEnrollSegment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnrollSegmentsStatus">
      <soap:operation soapAction="http://www.Persay.com/webservices/GetEnrollSegmentsStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetExternalRequestId">
      <soap:operation soapAction="http://www.Persay.com/webservices/SetExternalRequestId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestId">
      <soap:operation soapAction="http://www.Persay.com/webservices/GetRequestId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerifyDetailedResult">
      <soap:operation soapAction="http://www.Persay.com/webservices/GetVerifyDetailedResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdentifyDetailedResult">
      <soap:operation soapAction="http://www.Persay.com/webservices/GetIdentifyDetailedResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetApplicationData">
      <soap:operation soapAction="http://www.Persay.com/webservices/SetApplicationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationData">
      <soap:operation soapAction="http://www.Persay.com/webservices/GetApplicationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetVoiceprintData">
      <soap:operation soapAction="http://www.Persay.com/webservices/SetVoiceprintData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVoiceprintData">
      <soap:operation soapAction="http://www.Persay.com/webservices/GetVoiceprintData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAuthenticity">
      <soap:operation soapAction="http://www.Persay.com/webservices/SetAuthenticity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VocalPasswordServer">
    <wsdl:port name="VocalPasswordServerSoap" binding="tns:VocalPasswordServerSoap">
      <soap:address location="http://10.89.31.17/VocalPassword/VocalPasswordServer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>