archive-sdk/VocalPassword/EnrollSpeaker/plugins/SpeakerManager/Web References/VPM/VocalPasswordManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.Persay.com/webservices/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.Persay.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.Persay.com/webservices/">
      <s:element name="InitSystem">
        <s:complexType />
      </s:element>
      <s:element name="InitSystemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TerminateSystem">
        <s:complexType />
      </s:element>
      <s:element name="TerminateSystemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunBIT">
        <s:complexType />
      </s:element>
      <s:element name="RunBITResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunFullBIT">
        <s:complexType />
      </s:element>
      <s:element name="RunFullBITResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersionName">
        <s:complexType />
      </s:element>
      <s:element name="GetVersionNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionNameResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="build" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLicenseInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetLicenseInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLicenseInfoResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Calibrate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="calibrationSegments" type="tns:ArrayOfCalAudioSegmentDetails" />
            <s:element minOccurs="0" maxOccurs="1" name="configSetName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCalAudioSegmentDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CalAudioSegmentDetails" nillable="true" type="tns:CalAudioSegmentDetails" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CalAudioSegmentDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SpeakerIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GroupIndex" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CalibrateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalibrateResult" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TuneBackgroundModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bgModel" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="tuningSegments" type="tns:ArrayOfTuningAudioSegmentDetails" />
            <s:element minOccurs="0" maxOccurs="1" name="configSetName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTuningAudioSegmentDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TuningAudioSegmentDetails" nillable="true" type="tns:TuningAudioSegmentDetails" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TuningAudioSegmentDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SpeakerIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:MissionName" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MissionName">
        <s:restriction base="s:string">
          <s:enumeration value="Enroll" />
          <s:enumeration value="SegmentCheck" />
          <s:enumeration value="Verify" />
          <s:enumeration value="VoiceprintMatch" />
          <s:enumeration value="PlayBackDetection" />
          <s:enumeration value="Adaptation" />
          <s:enumeration value="Identify" />
          <s:enumeration value="Train" />
          <s:enumeration value="DeleteSpeaker" />
          <s:enumeration value="RemoveEnrollSegment" />
          <s:enumeration value="DeleteEnrollSegments" />
          <s:enumeration value="DeleteVoiceTemplate" />
          <s:enumeration value="DeleteVoiceprint" />
          <s:enumeration value="DeleteFootprints" />
          <s:enumeration value="UpdateSegmentValidity" />
          <s:enumeration value="UpdateAuthenticity" />
        </s:restriction>
      </s:simpleType>
      <s:element name="TuneBackgroundModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TuneBackgroundModelResult" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TuneCurrentBackgroundModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bgModelType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tuningSegments" type="tns:ArrayOfTuningAudioSegmentDetails" />
            <s:element minOccurs="0" maxOccurs="1" name="configSetName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TuneCurrentBackgroundModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TuneCurrentBackgroundModelResult" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCalibrationProgress">
        <s:complexType />
      </s:element>
      <s:element name="GetCalibrationProgressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCalibrationProgressResult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadBackgroundModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bgModelType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bgModelSource" type="tns:BgModelSource" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="BgModelSource">
        <s:restriction base="s:string">
          <s:enumeration value="OffSite" />
          <s:enumeration value="OnSite" />
        </s:restriction>
      </s:simpleType>
      <s:element name="UploadBackgroundModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetThreshold">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bgModelType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bgModelVersion" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="lowerThreshold" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="upperThreshold" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="configurationSet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetThresholdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadBackgroundModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bgModelType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bgModelVersion" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadBackgroundModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadBackgroundModelResult" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadConfiguration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="configData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:ConfigurationType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ConfigurationType">
        <s:restriction base="s:string">
          <s:enumeration value="ConfigurationSet" />
          <s:enumeration value="EnrollmentAttr" />
          <s:enumeration value="Internal" />
        </s:restriction>
      </s:simpleType>
      <s:element name="UploadConfigurationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadConfiguration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:ConfigurationType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadConfigurationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadConfigurationResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadLicense">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="licenseData" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadLicenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSpeaker">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="speakerId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSpeakerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSpeaker">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="speakerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="configSetName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSpeakerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="configSetName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSpeakerToGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="speakerId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSpeakerToGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveSpeakerFromGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="speakerId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveSpeakerFromGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentDataRepository">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentDataRepositoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCurrentDataRepositoryResult" type="tns:DataRepositoryPriority" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="DataRepositoryPriority">
        <s:restriction base="s:string">
          <s:enumeration value="Primary" />
          <s:enumeration value="Secondary" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SetSpeakersList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SpeakersListFilePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="configurationSet" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSpeakersListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSpeakersList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SpeakersListFilePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="configurationSet" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSpeakersListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEnrollAttributeList">
        <s:complexType />
      </s:element>
      <s:element name="GetEnrollAttributeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEnrollAttributeListResult" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetConfigurationSetList">
        <s:complexType />
      </s:element>
      <s:element name="GetConfigurationSetListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConfigurationSetListResult" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InitSystemSoapIn">
    <wsdl:part name="parameters" element="tns:InitSystem" />
  </wsdl:message>
  <wsdl:message name="InitSystemSoapOut">
    <wsdl:part name="parameters" element="tns:InitSystemResponse" />
  </wsdl:message>
  <wsdl:message name="TerminateSystemSoapIn">
    <wsdl:part name="parameters" element="tns:TerminateSystem" />
  </wsdl:message>
  <wsdl:message name="TerminateSystemSoapOut">
    <wsdl:part name="parameters" element="tns:TerminateSystemResponse" />
  </wsdl:message>
  <wsdl:message name="RunBITSoapIn">
    <wsdl:part name="parameters" element="tns:RunBIT" />
  </wsdl:message>
  <wsdl:message name="RunBITSoapOut">
    <wsdl:part name="parameters" element="tns:RunBITResponse" />
  </wsdl:message>
  <wsdl:message name="RunFullBITSoapIn">
    <wsdl:part name="parameters" element="tns:RunFullBIT" />
  </wsdl:message>
  <wsdl:message name="RunFullBITSoapOut">
    <wsdl:part name="parameters" element="tns:RunFullBITResponse" />
  </wsdl:message>
  <wsdl:message name="GetVersionNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersionName" />
  </wsdl:message>
  <wsdl:message name="GetVersionNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetLicenseInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetLicenseInfo" />
  </wsdl:message>
  <wsdl:message name="GetLicenseInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetLicenseInfoResponse" />
  </wsdl:message>
  <wsdl:message name="CalibrateSoapIn">
    <wsdl:part name="parameters" element="tns:Calibrate" />
  </wsdl:message>
  <wsdl:message name="CalibrateSoapOut">
    <wsdl:part name="parameters" element="tns:CalibrateResponse" />
  </wsdl:message>
  <wsdl:message name="TuneBackgroundModelSoapIn">
    <wsdl:part name="parameters" element="tns:TuneBackgroundModel" />
  </wsdl:message>
  <wsdl:message name="TuneBackgroundModelSoapOut">
    <wsdl:part name="parameters" element="tns:TuneBackgroundModelResponse" />
  </wsdl:message>
  <wsdl:message name="TuneCurrentBackgroundModelSoapIn">
    <wsdl:part name="parameters" element="tns:TuneCurrentBackgroundModel" />
  </wsdl:message>
  <wsdl:message name="TuneCurrentBackgroundModelSoapOut">
    <wsdl:part name="parameters" element="tns:TuneCurrentBackgroundModelResponse" />
  </wsdl:message>
  <wsdl:message name="GetCalibrationProgressSoapIn">
    <wsdl:part name="parameters" element="tns:GetCalibrationProgress" />
  </wsdl:message>
  <wsdl:message name="GetCalibrationProgressSoapOut">
    <wsdl:part name="parameters" element="tns:GetCalibrationProgressResponse" />
  </wsdl:message>
  <wsdl:message name="UploadBackgroundModelSoapIn">
    <wsdl:part name="parameters" element="tns:UploadBackgroundModel" />
  </wsdl:message>
  <wsdl:message name="UploadBackgroundModelSoapOut">
    <wsdl:part name="parameters" element="tns:UploadBackgroundModelResponse" />
  </wsdl:message>
  <wsdl:message name="SetThresholdSoapIn">
    <wsdl:part name="parameters" element="tns:SetThreshold" />
  </wsdl:message>
  <wsdl:message name="SetThresholdSoapOut">
    <wsdl:part name="parameters" element="tns:SetThresholdResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadBackgroundModelSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadBackgroundModel" />
  </wsdl:message>
  <wsdl:message name="DownloadBackgroundModelSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadBackgroundModelResponse" />
  </wsdl:message>
  <wsdl:message name="UploadConfigurationSoapIn">
    <wsdl:part name="parameters" element="tns:UploadConfiguration" />
  </wsdl:message>
  <wsdl:message name="UploadConfigurationSoapOut">
    <wsdl:part name="parameters" element="tns:UploadConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadConfigurationSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadConfiguration" />
  </wsdl:message>
  <wsdl:message name="DownloadConfigurationSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="UploadLicenseSoapIn">
    <wsdl:part name="parameters" element="tns:UploadLicense" />
  </wsdl:message>
  <wsdl:message name="UploadLicenseSoapOut">
    <wsdl:part name="parameters" element="tns:UploadLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSpeakerSoapIn">
    <wsdl:part name="parameters" element="tns:CreateSpeaker" />
  </wsdl:message>
  <wsdl:message name="CreateSpeakerSoapOut">
    <wsdl:part name="parameters" element="tns:CreateSpeakerResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSpeakerSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSpeaker" />
  </wsdl:message>
  <wsdl:message name="DeleteSpeakerSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSpeakerResponse" />
  </wsdl:message>
  <wsdl:message name="CreateGroupSoapIn">
    <wsdl:part name="parameters" element="tns:CreateGroup" />
  </wsdl:message>
  <wsdl:message name="CreateGroupSoapOut">
    <wsdl:part name="parameters" element="tns:CreateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteGroup" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteGroupResponse" />
  </wsdl:message>
  <wsdl:message name="AddSpeakerToGroupSoapIn">
    <wsdl:part name="parameters" element="tns:AddSpeakerToGroup" />
  </wsdl:message>
  <wsdl:message name="AddSpeakerToGroupSoapOut">
    <wsdl:part name="parameters" element="tns:AddSpeakerToGroupResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveSpeakerFromGroupSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveSpeakerFromGroup" />
  </wsdl:message>
  <wsdl:message name="RemoveSpeakerFromGroupSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveSpeakerFromGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentDataRepositorySoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentDataRepository" />
  </wsdl:message>
  <wsdl:message name="GetCurrentDataRepositorySoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentDataRepositoryResponse" />
  </wsdl:message>
  <wsdl:message name="SetSpeakersListSoapIn">
    <wsdl:part name="parameters" element="tns:SetSpeakersList" />
  </wsdl:message>
  <wsdl:message name="SetSpeakersListSoapOut">
    <wsdl:part name="parameters" element="tns:SetSpeakersListResponse" />
  </wsdl:message>
  <wsdl:message name="GetSpeakersListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSpeakersList" />
  </wsdl:message>
  <wsdl:message name="GetSpeakersListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSpeakersListResponse" />
  </wsdl:message>
  <wsdl:message name="GetEnrollAttributeListSoapIn">
    <wsdl:part name="parameters" element="tns:GetEnrollAttributeList" />
  </wsdl:message>
  <wsdl:message name="GetEnrollAttributeListSoapOut">
    <wsdl:part name="parameters" element="tns:GetEnrollAttributeListResponse" />
  </wsdl:message>
  <wsdl:message name="GetConfigurationSetListSoapIn">
    <wsdl:part name="parameters" element="tns:GetConfigurationSetList" />
  </wsdl:message>
  <wsdl:message name="GetConfigurationSetListSoapOut">
    <wsdl:part name="parameters" element="tns:GetConfigurationSetListResponse" />
  </wsdl:message>
  <wsdl:portType name="VocalPasswordManagerSoap">
    <wsdl:operation name="InitSystem">
      <wsdl:input message="tns:InitSystemSoapIn" />
      <wsdl:output message="tns:InitSystemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TerminateSystem">
      <wsdl:input message="tns:TerminateSystemSoapIn" />
      <wsdl:output message="tns:TerminateSystemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunBIT">
      <wsdl:input message="tns:RunBITSoapIn" />
      <wsdl:output message="tns:RunBITSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunFullBIT">
      <wsdl:input message="tns:RunFullBITSoapIn" />
      <wsdl:output message="tns:RunFullBITSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVersionName">
      <wsdl:input message="tns:GetVersionNameSoapIn" />
      <wsdl:output message="tns:GetVersionNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLicenseInfo">
      <wsdl:input message="tns:GetLicenseInfoSoapIn" />
      <wsdl:output message="tns:GetLicenseInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Calibrate">
      <wsdl:input message="tns:CalibrateSoapIn" />
      <wsdl:output message="tns:CalibrateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TuneBackgroundModel">
      <wsdl:input message="tns:TuneBackgroundModelSoapIn" />
      <wsdl:output message="tns:TuneBackgroundModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TuneCurrentBackgroundModel">
      <wsdl:input message="tns:TuneCurrentBackgroundModelSoapIn" />
      <wsdl:output message="tns:TuneCurrentBackgroundModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCalibrationProgress">
      <wsdl:input message="tns:GetCalibrationProgressSoapIn" />
      <wsdl:output message="tns:GetCalibrationProgressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadBackgroundModel">
      <wsdl:input message="tns:UploadBackgroundModelSoapIn" />
      <wsdl:output message="tns:UploadBackgroundModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetThreshold">
      <wsdl:input message="tns:SetThresholdSoapIn" />
      <wsdl:output message="tns:SetThresholdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadBackgroundModel">
      <wsdl:input message="tns:DownloadBackgroundModelSoapIn" />
      <wsdl:output message="tns:DownloadBackgroundModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadConfiguration">
      <wsdl:input message="tns:UploadConfigurationSoapIn" />
      <wsdl:output message="tns:UploadConfigurationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadConfiguration">
      <wsdl:input message="tns:DownloadConfigurationSoapIn" />
      <wsdl:output message="tns:DownloadConfigurationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadLicense">
      <wsdl:input message="tns:UploadLicenseSoapIn" />
      <wsdl:output message="tns:UploadLicenseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateSpeaker">
      <wsdl:input message="tns:CreateSpeakerSoapIn" />
      <wsdl:output message="tns:CreateSpeakerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSpeaker">
      <wsdl:input message="tns:DeleteSpeakerSoapIn" />
      <wsdl:output message="tns:DeleteSpeakerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <wsdl:input message="tns:CreateGroupSoapIn" />
      <wsdl:output message="tns:CreateGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <wsdl:input message="tns:DeleteGroupSoapIn" />
      <wsdl:output message="tns:DeleteGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddSpeakerToGroup">
      <wsdl:input message="tns:AddSpeakerToGroupSoapIn" />
      <wsdl:output message="tns:AddSpeakerToGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSpeakerFromGroup">
      <wsdl:input message="tns:RemoveSpeakerFromGroupSoapIn" />
      <wsdl:output message="tns:RemoveSpeakerFromGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentDataRepository">
      <wsdl:input message="tns:GetCurrentDataRepositorySoapIn" />
      <wsdl:output message="tns:GetCurrentDataRepositorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSpeakersList">
      <wsdl:input message="tns:SetSpeakersListSoapIn" />
      <wsdl:output message="tns:SetSpeakersListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSpeakersList">
      <wsdl:input message="tns:GetSpeakersListSoapIn" />
      <wsdl:output message="tns:GetSpeakersListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEnrollAttributeList">
      <wsdl:input message="tns:GetEnrollAttributeListSoapIn" />
      <wsdl:output message="tns:GetEnrollAttributeListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationSetList">
      <wsdl:input message="tns:GetConfigurationSetListSoapIn" />
      <wsdl:output message="tns:GetConfigurationSetListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VocalPasswordManagerSoap" type="tns:VocalPasswordManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="InitSystem">
      <soap:operation soapAction="http://www.Persay.com/webservices/InitSystem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminateSystem">
      <soap:operation soapAction="http://www.Persay.com/webservices/TerminateSystem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunBIT">
      <soap:operation soapAction="http://www.Persay.com/webservices/RunBIT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunFullBIT">
      <soap:operation soapAction="http://www.Persay.com/webservices/RunFullBIT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersionName">
      <soap:operation soapAction="http://www.Persay.com/webservices/GetVersionName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseInfo">
      <soap:operation soapAction="http://www.Persay.com/webservices/GetLicenseInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Calibrate">
      <soap:operation soapAction="http://www.Persay.com/webservices/Calibrate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TuneBackgroundModel">
      <soap:operation soapAction="http://www.Persay.com/webservices/TuneBackgroundModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TuneCurrentBackgroundModel">
      <soap:operation soapAction="http://www.Persay.com/webservices/TuneCurrentBackgroundModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalibrationProgress">
      <soap:operation soapAction="http://www.Persay.com/webservices/GetCalibrationProgress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadBackgroundModel">
      <soap:operation soapAction="http://www.Persay.com/webservices/UploadBackgroundModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetThreshold">
      <soap:operation soapAction="http://www.Persay.com/webservices/SetThreshold" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadBackgroundModel">
      <soap:operation soapAction="http://www.Persay.com/webservices/DownloadBackgroundModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadConfiguration">
      <soap:operation soapAction="http://www.Persay.com/webservices/UploadConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadConfiguration">
      <soap:operation soapAction="http://www.Persay.com/webservices/DownloadConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadLicense">
      <soap:operation soapAction="http://www.Persay.com/webservices/UploadLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSpeaker">
      <soap:operation soapAction="http://www.Persay.com/webservices/CreateSpeaker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSpeaker">
      <soap:operation soapAction="http://www.Persay.com/webservices/DeleteSpeaker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <soap:operation soapAction="http://www.Persay.com/webservices/CreateGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <soap:operation soapAction="http://www.Persay.com/webservices/DeleteGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSpeakerToGroup">
      <soap:operation soapAction="http://www.Persay.com/webservices/AddSpeakerToGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSpeakerFromGroup">
      <soap:operation soapAction="http://www.Persay.com/webservices/RemoveSpeakerFromGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentDataRepository">
      <soap:operation soapAction="http://www.Persay.com/webservices/GetCurrentDataRepository" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSpeakersList">
      <soap:operation soapAction="http://www.Persay.com/webservices/SetSpeakersList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeakersList">
      <soap:operation soapAction="http://www.Persay.com/webservices/GetSpeakersList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnrollAttributeList">
      <soap:operation soapAction="http://www.Persay.com/webservices/GetEnrollAttributeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationSetList">
      <soap:operation soapAction="http://www.Persay.com/webservices/GetConfigurationSetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VocalPasswordManager">
    <wsdl:port name="VocalPasswordManagerSoap" binding="tns:VocalPasswordManagerSoap">
      <soap:address location="http://192.118.49.125/VocalPassword/VocalPasswordManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>